* {
    font-family: "Manrope" !important;
}
body {
    background: #1e1e20 !important;
}
.fa, .fa-brands, .fa-duotone, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fat {
font-family: "Font Awesome 6 Pro" !important;
}
.comment-list.left-padding:hover {
    border: none !important;
    filter: drop-shadow(0 0 0.75rem #dd9999 );
    color: #dd9999 !important;
    transition-duration: 150ms;
    background: #333;
}
.description-new .tag {
    border-radius: 4px !important;
    background: #333;
}
.video:hover > .thumbnail {
  border: 1px #dd9999 solid;
  transition-duration: 150ms;
}
.comment-list.left-padding {
    transition-duration: 150ms;
}
.search-bar {
    border-radius: 5px !important;
}
 
.video-info-panel.gradient, .description-new {
    background: #1a1a1a !important;
    border-radius: 10px !important;
}
 
summary {
    font-weight: 900 !important;
}
.description-new > div, .description-new span, .comment, .tags.rec > .tag {
    font-weight: 500 !important;
}
.description-new {
    border-radius: 10px !important;
}
.comments-class-or-something-i-cant-find-a-name-lol {
    border-radius: 10px !important;
}
.recommended-list, .description-new, .comments-class-or-something-i-cant-find-a-name-lol {
    border: none;
}
a {
    color: #dd9999;
}
.subscribe-button > a {
    margin-top: 0px !important;
}
.subscribe-button {
    border-radius: 10px !important;
}
.video-chnl-info-pill {
    border-radius: 10px !important;
    background: #333;
}
.new-button {
    border-radius: 10px !important;
    background: #333;
}
.video-info-buttons.pill {
    border-radius: 10px !important;
    background: #333;
}
.recommended-list {
    border-radius: 10px !important;
}
.left-padding {
    border-radius: 10px !important;
}
.video {
    border-radius: 10px !important;
}
.player.video-ambient-container {
    box-shadow: 0 0 0;
}